---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
<!-- 
<h2>First Author Publications</h2>

<h3>International Conferences</h3>
<ol>
  <li>Doing Personal LAPS: LLM-Augmented Dialogue Construction for Personalized Multi-Session Conversational Search, H. Joko, et. al., ACM SIGIR, 2024.</li>
  <li>Personal Entity, Concept, and Named Entity Linking in Conversations, H. Joko, et. al., ACM CIKM 2022.</li>
  <li>Radboud University at TREC CAsT 2021, H. Joko, et. al., TREC, 2021.</li>
  <li>Conversational Entity Linking: Problem Definition and Datasets, H. Joko, et. al., ACM SIGIR, 2021.</li>
  <li>Learning Word Embeddings Using Spatial Information, H. Joko, et. al., IEEE International Conference on System, Man, and Cybernetics (SMC), 2019.</li>
  <li>Intention Understanding in Small Training Data Sets by Using Transfer Learning, H. Joko, et. al., The International Conference on Mobile Computing and Ubiquitous Networking, 2018.</li>
</ol>

<h3>Refereed Journal Papers (In Japanese)</h3>
<ol>
  <li>Accelerating Contextualized Representation based Document Retrieval Using Approximate Nearest Neighbor Search, H. Joko, et. al., IEICE Transactions on Information and Systems, 2020.</li>
  <li>Automatic Synonym Acquisition Using a Context-Restricted Skip-gram Model, H. Joko, et. al., Journal of Natural Language Processing, 2017.</li>
</ol>

<h3>Domestic Conferences (In Japanese)</h3>
<ol>
  <li>Learning Word Embeddings Using Spatial Information, H. Joko, et. al., JSAI Workshop on Interactive Information Access and Visual Mining, 2019.</li>
  <li>Intention Understanding with Small Training Data Sets by Utilizing Multi-Task Transfer Learning, H. Joko, et. al., JSAI Workshop on Interactive Information Access and Visual Mining, 2018. Incentive Research Award (Success rate: 10%).</li>
  <li>Intention Understanding in Small Training Data Sets by Using Transfer Learning, H. Joko, et. al., IEICE General Conference, 2018.</li>
  <li>Automatic Synonym Acquisition Using a Context-Restricted Skip-gram Model, H. Joko, et. al., The Association for Natural Language Processing, 2016.</li>
  <li>Evaluation of Word Vectors by Synonym Identification, H. Joko, et. al., JSAI Workshop on Interactive Information Access and Visual Mining, 2015.</li>
</ol>

<h3>Presentations</h3>
<ol>
  <li>Entity Linking in Conversations, H. Joko, Distinguished Speaker Series at Georgia Tech ACM Student Chapter, 2023. (Invited)</li>
  <li>Personal Entity, Concept, and Named Entity Linking in Conversations, H. Joko, MICROS Workshop at CIKM, 2022. (Invited)</li>
  <li>Entity Linking in Conversations, H. Joko, Search-Oriented Conversational AI (SCAI) Workshop at SIGIR, 2022.</li>
  <li>Conversational Entity Linking: Problem Definition and Datasets, H. Joko, The 20th Dutch-Belgian Information Retrieval Workshop (DIR), 2022.</li>
</ol> -->
